<%-include('header')%>

  
<section class="page-content" >
  <div class="page-content-inner">
    <div class="dashboard-container">
      <div class="row">
        <div class="col-lg-12">
          <section class="panel panel-with-borders" style="opacity: 0.93;">
            <div class="panel-heading">
              <h3>Get Loan Suggestions</h3>
            </div>
            <div class="panel-body" >
              <form method="POST">
                <div class="form-group row">
                  <div class="col-md-2">
                    <label class="form-control-label">Full Name </label>
                  </div>
                  <div class="col-md-4">
                    <input type="text" name="fname" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-2">
                    <label class="form-control-label">Income</label>
                  </div>
                  <div class="col-md-4">
                    <input type="text" name="inc" class="form-control" placeholder="">
                  </div>
                </div>
                
                <div class="form-group row">
                  <div class="col-md-2">
                    <label class="form-control-label">Email-ID </label>
                  </div>
                  <div class="col-md-4">
                    <input type="text" name="s_fee" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-2">
                      <label class="form-control-label">Mobile </label>
                    </div>
                    <div class="col-md-4">
                      <input type="text" name="s_fee" class="form-control" placeholder="+91" maxlength="10">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-2">
                      <label class="form-control-label">Property </label>
                    </div>
                    
                      <!--<input type="text" name="s_fee" class="form-control" placeholder="">-->
                      <select id="property" onchange="myFunction()"> <option value="Not Identified">Not Identified</option>
                        <option value="2">Identified</option>
                        
                     </select>
                  </div>
                  <div class="form-group row">
                    <div class="col-md-2">
                      <label class="form-control-label">Property Detail </label>
                    </div>
                    <div class="col-md-4">
                      <input type="text" name="s_fee" id="propdetail" class="form-control" placeholder="" disabled="true">
                    </div>
                  </div>
                <div class="form-actions">
                  
                  <button type="submit"  class="btn btn-primary width-150"><i class="icmn-paperplane"></i> Submit </button>
                </div>
                               
              </form>              
            </div>            
          </section>         
        </div>
      </div>
    </div>
  </div>
  <!-- Page Scripts --> 
  <!-- End Page Scripts --> 
</section>

<script>
  function myFunction() {
    if(document.getElementById("property").value == "Identified")
      document.getElementById("propdetail").disabled = false ;
  }

  document.getElementById('property').addEventListener('change', function() {
    if (this.value == 2) {
        document.getElementById('propdetail').disabled = false;
    } else {
        document.getElementById('propdetail').disabled = true;
    }
});
  </script>
  
<%-include('footer')%>